.body {
  font-family: sans-serif;
}

.information {
  text-align: left;
  margin: 0;
}

.new-line {
  display: block;
}

h3 {
  color: rgb(117, 191, 59);
}

/* Header */
header {
  display: grid;
  grid-template-columns: 10% auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo search navigation"
    "categories categories categories";
}

.logo {
  grid-area: logo;
  align-content: center;
  padding: 0px;
}

.logo img {
  height: 60%;
}

.search {
  grid-area: search;
  align-content: center;
  padding: 0px;
}

label {
  display: none;
}

.all_categories_label {
  display: inline;
  font-weight: bold;
}

.all_categories_drop_down_menu {
  display: none;
}

.search input {
  border: solid rgb(117, 191, 59);
  border-radius: 20px;
  padding: 5px;
}

.nav_bar-flex_container {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: space-between;
}

.link-nav_bar {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: rgb(117, 191, 59);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}

.button-sell {
  text-decoration: none;
  color: black;
}

.content-wrap {
  margin: 0px auto;
  width: 80%;
  text-align: center;
}

.categories {
  padding: 0;
  align-items: left;
  grid-area: categories;
}

.categories_list {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0;
}

.item_categories {
  margin-right: 30px;
}

.image-arrow_down {
  width: 10px;
}

.main-content {
  text-align: center;
}

.icon_index {
  width: 10%;
}
h1 {
  color: rgb(117, 191, 59);
}

.button_lets_sell {
  text-decoration: none;
  position: relative;
  bottom: 500px;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 0 !important;
  transition: all 0.3s ease-in-out;
  font-size: x-small;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}
.button_lets_sell:hover {
  background-color: white;
  color: black;
}

.section-about {
  width: 85%;
  margin: 0px auto;
  border-bottom: 3.5px solid;
  padding-bottom: 40px;
}

.section_call_to_action {
  padding-top: 50px;
}

.new-line-about {
  margin-top: 10px;
}

.callToAction-flex-container {
  display: flex;
  justify-content: space-between;
}

.callToAction-flex-item {
  background-color: rgb(117, 191, 59);
  padding: 50px;
  border-radius: 30px;
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice {
  color: rgb(117, 191, 59);
  font-weight: bold;
  font-size: 21px;
}

.section_call_to_action h3 {
  font-weight: normal;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list img {
  height: 200px;
  width: 200px;
}

.description__product {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information__product {
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.amount__product {
  text-align: center;
  flex-grow: 1;
}

/* Footer */
footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "newsletter-and-navigation branding"
    "footer-legal social-links";
}

.newsletter-and-navigation {
  grid-area: newsletter-and-navigation;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.branding {
  grid-area: branding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-legal {
  grid-area: footer-legal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  grid-area: social-links;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-list {
  display: flex;
}
