body {
  font-family: sans-serif;
}

.page {
  max-width: 1300px;
  margin: 0 auto;
}

.information {
  text-align: left;
  margin: 0;
}

.new-line {
  display: block;
}

h3 {
  color: rgb(117, 191, 59);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
form {
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(117, 191, 59);
}

.button {
  background-color: rgb(117, 191, 59);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}

.content-wrap {
  margin: 0px auto;
  width: 90%;
  text-align: center;
}

label {
  display: none;
}

/* Header */

header {
  background-color: white;
  border-bottom: 2px solid rgb(179, 179, 179);
  position: sticky;
  top: 0;
  z-index: 1;
}
header div.content-wrap div.top-navigation {
  display: flex;
  align-items: center;
  margin: 20px auto;
}
header div.content-wrap div.top-navigation a img {
  width: 60%;
}
header div.content-wrap div.top-navigation div.search {
  align-content: center;
  flex-grow: 1;
  height: fit-content;
  border: solid rgb(117, 191, 59);
  border-radius: 20px;
}
header div.content-wrap div.top-navigation div.search input {
  border: none;
  width: 85%;
  height: 35px;
}
header div.content-wrap div.top-navigation div.search input:focus {
  outline: none;
}
header div.content-wrap div.top-navigation div.search img {
  display: inline;
  height: 20px;
}

header div.content-wrap div.top-navigation nav {
  margin: auto;
  flex-grow: 2;
}
header div.content-wrap div.top-navigation nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  justify-content: right;
}
header div.content-wrap div.top-navigation nav ul li {
  padding: 10px;
  margin-left: 30px;
}

.link-nav_bar {
  text-decoration: none;
  color: inherit;
}

.button-sell {
  text-decoration: none;
  color: black;
}

header div.content-wrap div.categories {
  margin-bottom: 25px;
}
header div.content-wrap div.categories ul {
  list-style: none;
  text-align: left;
}
header div.content-wrap div.categories ul li {
  display: inline-block;
  padding: 5px 15px 5px 15px;
}
header div.content-wrap div.categories ul li span {
  font-weight: bold;
  padding-right: 20px;
  background: url(./images/icons/down-arrow.svg) no-repeat right;
}
header div.content-wrap div.categories ul ul {
  display: none;
}

/* Main Content */

.main-content {
  text-align: center;
  padding: 70px auto;
}

.home__main__content {
  padding-top: 0;
}

main section.hero {
  height: 560px;
  background: url(./images/hero-image.jpg) no-repeat center top;
  position: relative;
}
main section.hero a {
  text-decoration: none;
  position: absolute;
  bottom: 78px;
  left: 46%;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 0 !important;
  transition: all 0.3s ease-in-out;
  font-size: x-small;
  letter-spacing: 1px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}
main section.hero a:hover {
  background-color: white;
  color: black;
}

main section.about {
  width: 85%;
  margin: 0px auto;
  border-bottom: 3.5px solid;
  padding-bottom: 40px;
  padding-top: 75px;

  background: url(./images/icons/recycle-icon.png) no-repeat center top;
  background-size: 75px 75px;
}

.section_call_to_action {
  padding-top: 50px;
}

.new-line-about {
  margin-top: 10px;
}

.callToAction-flex-container {
  display: flex;
  justify-content: space-between;
}

.callToAction-flex-item {
  background-color: rgb(117, 191, 59);
  padding: 50px;
  border-radius: 30px;
  color: white;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice {
  color: rgb(117, 191, 59);
  font-weight: bold;
  font-size: 21px;
}

.section_call_to_action h3 {
  font-weight: normal;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list img {
  height: 200px;
  width: 200px;
}

.description__product {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information__product {
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.information__product p {
  margin: 0px;
}

.product__name {
  font-weight: bold;
}

.product__location {
  font-size: x-small;
  color: rgb(124, 124, 124);
}

.amount__product {
  text-align: center;
  flex-grow: 1;
  margin: 0px;
  font-weight: normal;
}

.section_call_to_action button {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: medium;
  padding: auto 16px;
}

/* Footer */

footer {
  background-color: #e5e5e5;
}

.footer__top {
  display: flex;
}

.newsletter-and-navigation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.newsletter {
  margin-top: 30px;
  text-align: left;
}

.newsletter p {
  margin: 0px;
  color: rgb(117, 191, 59);
}

.newsletter input {
  height: 30px;
  width: 60%;
}

.newsletter button {
  border-radius: 0px;
}

.navbar__footer {
  text-align: left;
  color: rgb(117, 191, 59);
  margin-top: 30px;
  margin-bottom: 40px;
}

.navbar__footer h4 {
  font-size: 18px;
}

.navbar__footer__links {
  color: black;
}

.flex_container_navbar_footer {
  margin-top: 10px;
}

.branding {
  grid-area: branding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(126, 126, 126);
}

.branding p {
  font-size: 15px;
}

.legal__socialLinks {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px rgb(201, 201, 201);
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28%;
  font-size: 10px;
  font-weight: bold;
  color: rgb(117, 191, 59);
}

.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  width: 15%;
}

.social-links a img {
  width: 30px;
}

.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
