.body {
    font-family: sans-serif;
}

.information {
    text-align: left;
}

.new-line {
    display: block;
}

/* Header */
header{
    display: grid;
    grid-template-columns: 10% auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "logo search navigation"
    "categories categories categories";
}

.logo {
    grid-area: logo;
    align-content: center;
    padding: 0px;
}

.logo img {
    height: 60%;
}

.search {
    grid-area: search;
    align-content: center;
    padding: 0px;
}

label {
    display: none;
}

.all_categories_label {
    display: inline;
}

.all_categories_drop_down_menu {
    display: none;
}

.search input {
    border: solid rgb(117, 191, 59);
    border-radius: 20px;
    padding: 5px;
}

.nav_bar-flex_container {
    display: flex;
    list-style-type: none;
    padding: 0px;
    justify-content: space-between;
}

.flex_item-nav_bar a {
    text-decoration: none;
    color: inherit;
}

.button-sell {
    font-weight: bold;
}

.button {
    background-color: rgb(117, 191, 59);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
}

/* Main content */
.content-wrap {
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

.categories {
    padding: 0;
    align-items: left;
    grid-area: categories;
}

.categories_list {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding: 0;
}

.item_categories {
    margin-right: 30px;
}

.image-arrow_down {
    width: 10px;
}

.main-content {
    text-align: center;
}

/* ----- about.html ----- */

/* ----- contact.html ----- */

/* ----- Index.html ----- */
.icon_index {
    width: 10%;
}
h1 {
    color: rgb(117, 191, 59);
}

.section-about {
    width: 85%;
    margin: 0px auto;
}
.new-line-about {
    margin-top: 10px;
}

.callToAction-flex-container {
    display: flex;
    justify-content: space-between;
}

.callToAction-flex-item {
    background-color: rgb(117, 191, 59);
    padding: 50px;
    border-radius: 30px;
    color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ----- Sell.html ----- */
.product-price-selection {
    display: block;
}

.categories-list-sell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-list-sell div {
    flex: 1;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "newsletter-and-navigation branding"
    "footer-legal social-links";
}

.newsletter-and-navigation {
    grid-area: newsletter-and-navigation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_item_navbar_footer a {
    text-decoration: none;
    color: inherit;
}
.branding {
    grid-area: branding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-legal {
    grid-area: footer-legal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    grid-area: social-links;
    display: flex;
    justify-content: center;
    align-items: center;

}

.horizontal-list {
    display: flex;
}