.main {
  margin: 80px auto;
  padding-top: 75px;

  background: url(../images/icons/chat.svg) no-repeat center top;
  background-size: 75px 75px;
}

p {
  margin: 0;
}

h1 {
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.message {
  margin-top: 15px;
}

form {
  width: 45%;
  margin: 80px auto 0;
}

form input,
textarea {
  width: 100%;
  margin-top: 20px;
}

form input {
  height: 50px;
}

#full_name {
  margin-top: 0;
}

.contact__button {
  margin-top: 0;
  width: 35%;
  margin-top: 20px;
}

form p {
  font-size: xx-small;
  margin: 15px 0 60px 0;
}
